<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Website Generator</title>
</head>
<body>
    <h1>Generatebiz.io</h1>
    <form action="generate" method="post">
        {% for message in get_flashed_messages() %}
             <p>{{ message }}</p>
         {% endfor %}
        <br>
        <p>Business name</p>
        <input type="text" name="bizName">
        <p>Type of business</p>
        <input type="text" name="bizType">
        <p>Full name of owner</p>
        <input type="text" name="ownerName">
        <p>Keywords for text</p>
        <input type="text" name="keywords" placeholder="write words seperated by comma">
        <br>
        <input type="submit" value="Generate" id="generate">
</form>
    
</body>
</html>