<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Website Generator</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
</head>
<body>
    <header>
<ul>
    <li><a href="#info">FAQ</a></li>
</ul>

    </header>
    <main>
        <div class="column">
            <div class="row">
                
         <br>  
         <br>   
        <h1>Create websites<br/>in seconds <br/> with AI!</h1>
        <p>Create text for a business website in seconds instead of hours and rank with SEO</p>
        <button class="buttonMain">generate a website</button>
        </div>
        <div class="row">
                
            
            <img src="/static/images/aiwithflowerhead.JPG" alt="Robot with flowers in head">
    </column>
    </main>
    <h1>Generatebiz.io</h1>
    <form action="generate" method="post">
        
        <br>
        <div class="form">
        
        <input type="text" name="bizName" placeholder="Business name">
        
        <input type="text" name="bizType" placeholder="Type of business. Example: Photography, Painting">
        
        <input type="text" name="ownerName" placeholder="Full name of owner include your last name">
        
        <input type="text" name="keywords" placeholder="Keywords for text seperated by comma">
        <br>
        
        </div>
        <input type="submit" value="Generate" id="generate">
        <br>
        {% for message in get_flashed_messages() %}
             <p>{{ message }}</p>
         {% endfor %}
</form>
    
</body>
</html>